<a href="https://colab.research.google.com/github/marekrei/ic-co395-intro-to-ml/blob/master/NeuralNetworks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

data = pd.read_csv('https://raw.githubusercontent.com/marekrei/ic-co395-intro-to-ml/master/data/country-stats.csv')
data.head()

          Country Name  ...  Internet Users (%)
0          Afghanistan  ...                5.45
1              Albania  ...               54.66
2              Algeria  ...               15.23
3  Antigua and Barbuda  ...               83.79
4            Argentina  ...               55.80

[5 rows x 13 columns]